<!DOCTYPE html>
<html>
<head>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
<link rel="apple-touch-icon" href="/fi.png"/>
<STYLE TYPE="text/css">
<!--
div.output {
    width: 95%;
    font-size: 16px;
}

#help {
	font-family: arial;
	font-size: 12px;
	width: 490px;
    display: none;
}
-->
</STYLE>
<script type="text/javascript">
    //When ready...
    window.addEventListener("load",function() {
    	// Set a timeout...
    	setTimeout(function(){
    		// Hide the address bar!
    		window.scrollTo(0, 1);
    	}, 0);
    });
	function on_load() {
		document.form_page.letters.value = 'aemrst';
		find_words();
		document.form_page.letters.focus();
	}
	function find_words() {
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
			if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
				var data = JSON.parse(xmlhttp.responseText)
		
				var value = data['words'];
				document.getElementById('words').innerHTML = 
					value.length ? '<small><b>anagrams:</b></small> ' + value.join(', ') : '';
		
				value = data['suggestions'];
				document.getElementById('suggestions').innerHTML = 
					value.length ? '<small><b>similar:</b></small> ' + value.join(', ') : '';
		
				value = data['for'];
				if (value == document.form_page.letters.value.toLowerCase()) {
					value = '';
				}
				document.getElementById('for').innerHTML = 
					value.length ? '<small><b>for:</b></small> ' + value : '';

				delete value;
				delete data;
				document.form_page.letters.focus();
			}
		}
		var temp = document.form_page.letters.value;
		temp = temp.replace(/[^a-zA-Z]+/g,'');
		xmlhttp.open("GET", '/words/' + temp);
		xmlhttp.send();
		document.form_page.letters.focus();
	}
</script>
<title>Find words</title>
</head>
<body onload="on_load()">
  <form name="form_page">
      <div>
        <input type="text" style="font-size: 14px; width: 120px;"
          name="letters" autocorrect="off" autocomplete="off" onkeyup="find_words()" />
      </div>
      <div class="output" id="words"></div>
      <div class="output" id="suggestions"></div>
      <div class="output" id="for"></div>
    <div id="help">
      <h2>Word Finder</h2>
      Finds anagrams and one letter variants.
      <p>
        For example, entering <b><big>aem</big>
        </b> yields just the one anagram, <b><big>mae,</big>
        </b> above the input field and <b><big>ae, ahem,</big><big></big>
        </b> ..., the words that differ by just one letter below the line,
        below.
    </div>
  </form>
</body>
</html>
